/* Space out content a bit */
body {
  font-family: "Gotham-Book";
  padding: 0px;
  margin: 0px;
  background-color: #e5e5e5;
}

html {
  padding: 0px;
  margin: 0px;
}

div {
  padding: 0px;
  margin: 0px;
}

h1, h3 {
  font-family: "Gotham-Bold";
}

h2 {
  font-size: 280%;
  color: white;
}

h3, p {
  font-size: 150%;
}

.carousel-inner {

}

.carousel-control {
  opacity: 0;
}

.carousel-control:hover {
  opacity: 0.1;
}

.col-md-4 {
  padding: 5%;
  text-align: center;
}

.col-md-6 {
  background-color: rgba(255,255,255,0.5);
  height: 50vh;
}

.row {
  padding: 30px;
}

#view-wrapper {
  margin: 0px 50px;
}

#wrapper {
  height: 100vh;
  background: url("../images/banner_login.png") left;
  background-size: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#iframe-wrapper {
  height: 100vh;
}

#signup {
  position: absolute; 
  height: 50vh;
  bottom: 0;
  margin: 5%;
}

#myCarousel {
  height: 100vh;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Font */
@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.ttf')  format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.ttf')  format('truetype');
  font-weight: bold;
}
