<div class="jumbotron">
  <p class="lead">
    
    <img src="images/icon_sun.png" alt="Beam">
    <h1>Beam</h1>
    <h2>Your daily burst of light!</h2>
  </p>
</div>

<div class="row marketing">
  <h3>Daily Challenges</h3>
  <p>
    Receive daily challenges to remind you of what's important in your life, such as your health, relationships and leisure time.
  </p>

  <h3>Record</h3>
  <p>
    Record your experience in completing the challenge each day through text, photo/video so you can look back and see what you've accomplished!
  </p>

  <h3>Streak</h3>
  <p>
    Get motivated to complete more challenges by seeing how many challenges you have completed, your highest and current streak!
  </p>
</div>
