<div id="wrapper">
  <div id="signup">
    <h2>Hello Sunshine! :)</h2>
    <form name="myForm" id="top-form">
      <input type="email" name="input" ng-model="email" placeholder="Enter email" class="form-control" required>
      <input type="submit" class="form-control btn-success" value="Sign up for Beta!">
    </form>
  </div>
</div>


<div id="iframe-wrapper">
  <h1> Introducing Beam </h1>
  <iframe width="80%" height="80%" src="//www.youtube.com/embed/y6Sxv-sUYtM" frameborder="0" allowfullscreen></iframe>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Daily Challenges</h3>
      <p>
        Receive daily challenges to remind you of what's important in your life, such as your health, relationships and leisure time - all integral to your happiness!
      </p>
  </div>
  <div class="col-md-4">
    <h3>Track progress</h3>
      <p>
        Record your experience in completing the challenge each day through text, photo/video so you can look back and see what you've accomplished!
      </p>
  </div>
  <div class="col-md-4">
    <h3>Get motivated</h3>
      <p>
        Get motivated to complete more challenges by seeing your current and streak highest as well as how many challenges you have completed!
      </p>
  </div>
</div>

<div id="end">
  <h1>Get your daily burst of light!</h1>
  <form name="myForm" class="form-inline" id="bottom-form">
      <input type="email" name="input" ng-model="email" placeholder="Enter email" class="form-control" required>
      <input type="submit" class="form-control btn-success" value="Sign up for Beta!">
  </form>
</div>
