<div id="wrapper">
  <div id="signup">
    <h2>Hello sunshine! :)</h2>
    <form name="myForm" class="form-inline">
      <input type="email" name="input" ng-model="email" placeholder="Enter email" class="form-control" required>
      <input type="submit" class="form-control btn-success" value="Sign up for Beta!">
    </form>
  </div>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-intervals="100000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <h3>Daily Challenges</h3>
    <p>
      Receive daily challenges to remind you of what's important in your life, such as your health, relationships and leisure time!
    </p>
  </div>
  <h3>Track progress</h3>
    <p>
      Record your experience in completing the challenge each day through text, photo/video so you can look back and see what you've accomplished!
    </p>
  </div>
  <h3>Get motivated</h3>
    <p>
      Get motivated to complete more challenges by seeing how many challenges you have completed, your highest and current streak!
    </p>
  </div>
</div>

<div id="iframe-wrapper">
  <iframe width="100%" height="100%" src="//www.youtube.com/embed/y6Sxv-sUYtM" frameborder="0" allowfullscreen></iframe>
</div>
